.Toastify__toast-container {
    font-family: "Arial", sans-serif;
    font-size: 14px;
  }
  
  .Toastify__toast--success {
    background-color: #28a745;
    color: white;
  }
  
  .Toastify__toast--error {
    background-color: #dc3545;
    color: white;
  }
  
  .Toastify__toast--info {
    background-color: #007bff;
    color: white;
  }
  
  .Toastify__toast--warning {
    background-color: #ffc107;
    color: white;
  }
  